@model IEnumerable<PIXY.Models.PurchasedItemVM>

@{
    ViewData["Title"] = "Purchased Item";
}

<h1>Purchased Item</h1>


<form asp-action="DownloadZip">
<input id="DownloadBtn" type="submit" value="Download" class="btn btn-primary" disabled="disabled"/>
<table class="table">
    <thead>
        <tr>
            <th>
                    <input type="checkbox" name="SelectAllChk" id="SelectAllChk" />
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfHardcopy)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input id=@item.ImageId type="checkbox" name="SelectedImage" value=@item.ImageId class="w3-check" />
            </td>
             <td>
                 <a href="@Html.DisplayFor(modelItem => item.FilePath)" target="_blank" rel="noopener noreferrer">
                 <img src="@Html.DisplayFor(modelItem => item.FilePath)" width="900" height="600">
                 </a>
             </td>
             <td>
                @Html.DisplayFor(modelItem => item.NoOfHardcopy)
            </td>
        </tr>
}
    </tbody>
</table>
</form>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="checkbox"]').change(function () {
                if ($('input[type="checkbox"]:checked').length > 0) {
                    $('#DownloadBtn').prop('disabled', false);
                } else {
                    $('#DownloadBtn').prop('disabled', true);
                }
            });

            // Listen for click on toggle checkbox
            $('#SelectAllChk').click(function (event) {
                if (this.checked) {
                    // Iterate each checkbox
                    $(':checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $(':checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });
        });
    </script>
}
