@{
    ViewData["Title"] = "Home Page";
}
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="root"></div>
</div>

<script>
    'use strict';

    const e = React.createElement;

    class LinkButton extends React.Component {
        constructor(props) {
            super(props);
        }

        render() {
            return e(
                'a',
                { href: "/Images/Index" },
                'Like'
            );
        }
    }

    const domContainer = document.querySelector('#root');
    const root = ReactDOM.createRoot(domContainer);
    root.render(e(LinkButton));
</script>