@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600&display=swap');

html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: #ead9f3;
}

.navbar-brand {
    font-weight: 800;
    font-size: 2rem; 
}

.navbar-brand {
    color: #28104e;
}

.navbar-brand:hover {
    color: black;
}

.flex-grow-1 {
    flex-grow: 0 !important;
}

.navbar-nav {
    margin: auto; !important;
    font-weight: bolder;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 5rem;
    font-size: 1rem;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 5rem;
    font-size: 1rem;
}

.product{
    width: 800px;
    height: 500px;
    border-style: solid;
    border-width:medium;
}

.table{
    margin: auto;
    font-weight: bold;
}

.table > :not(caption) > * > *{
    padding-left:1rem;
}

.navbar-nav {
    display: -webkit-inline-box;
}

/*

    .thread{
    border-width: 2rem;
}


*/

.Names th {
    background: pink;
}

.Names-1 tr {
    border-style: solid;
}

.Session {
    padding: 1rem;
    padding-left: 7rem;
    font-size: 1.5rem;
    font-weight: 600; 
}
