@model PIXY.Models.PaymentVM

<h1>Payment Information</h1>

<div class="row">
    <div class="col-md-4">
        <form id="form1" name ="form1" method="post" asp-controller="Carts" asp-action="ConfirmPurchase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CardNo" class="control-label"></label>
                <input asp-for="CardNo" class="form-control" maxlength="16"/>
                <span asp-validation-for="CardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOnCard" class="control-label"></label>
                <input asp-for="NameOnCard" class="form-control"/>
                <span asp-validation-for="NameOnCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDateMonth" class="control-label"></label>
                <input asp-for="ExpiryDateMonth" class="form-control" maxlength="2"/> 
                <span asp-validation-for="ExpiryDateMonth" class="text-danger"></span>
                /
                <label asp-for="ExpiryDateYear" class="control-label"></label>
                <input asp-for="ExpiryDateYear" class="form-control" maxlength="2"/> 
                <span asp-validation-for="ExpiryDateYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityCode" class="control-label"></label>
                <input asp-for="SecurityCode" class="form-control" maxlength="3"/>
                <span asp-validation-for="SecurityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Proceed with Purchase" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <h4>For Hardcopy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>